clientSOAP/web/WEB-INF/wsdl/localhost_8080/servidorSOAP/ImageBulkService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Servicio/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Servicio/" name="ImageBulkService">
<types>
<xsd:schema>
<xsd:import namespace="http://Servicio/" schemaLocation="http://localhost:8080/servidorSOAP/ImageBulkService?xsd=1"/>
</xsd:schema>
</types>
<message name="DeleteImage">
<part name="parameters" element="tns:DeleteImage"/>
</message>
<message name="DeleteImageResponse">
<part name="parameters" element="tns:DeleteImageResponse"/>
</message>
<message name="SearchbyId">
<part name="parameters" element="tns:SearchbyId"/>
</message>
<message name="SearchbyIdResponse">
<part name="parameters" element="tns:SearchbyIdResponse"/>
</message>
<message name="ModifyImage">
<part name="parameters" element="tns:ModifyImage"/>
</message>
<message name="ModifyImageResponse">
<part name="parameters" element="tns:ModifyImageResponse"/>
</message>
<message name="SearchbyCreaDate">
<part name="parameters" element="tns:SearchbyCreaDate"/>
</message>
<message name="SearchbyCreaDateResponse">
<part name="parameters" element="tns:SearchbyCreaDateResponse"/>
</message>
<message name="SearchbyAuthor">
<part name="parameters" element="tns:SearchbyAuthor"/>
</message>
<message name="SearchbyAuthorResponse">
<part name="parameters" element="tns:SearchbyAuthorResponse"/>
</message>
<message name="SearchbyKeywords">
<part name="parameters" element="tns:SearchbyKeywords"/>
</message>
<message name="SearchbyKeywordsResponse">
<part name="parameters" element="tns:SearchbyKeywordsResponse"/>
</message>
<message name="SearchbyTitle">
<part name="parameters" element="tns:SearchbyTitle"/>
</message>
<message name="SearchbyTitleResponse">
<part name="parameters" element="tns:SearchbyTitleResponse"/>
</message>
<message name="Search">
<part name="parameters" element="tns:Search"/>
</message>
<message name="SearchResponse">
<part name="parameters" element="tns:SearchResponse"/>
</message>
<message name="ListImage">
<part name="parameters" element="tns:ListImage"/>
</message>
<message name="ListImageResponse">
<part name="parameters" element="tns:ListImageResponse"/>
</message>
<message name="RegisterImage">
<part name="parameters" element="tns:RegisterImage"/>
</message>
<message name="RegisterImageResponse">
<part name="parameters" element="tns:RegisterImageResponse"/>
</message>
<portType name="ImageBulkService">
<operation name="DeleteImage">
<input wsam:Action="http://Servicio/ImageBulkService/DeleteImageRequest" message="tns:DeleteImage"/>
<output wsam:Action="http://Servicio/ImageBulkService/DeleteImageResponse" message="tns:DeleteImageResponse"/>
</operation>
<operation name="SearchbyId">
<input wsam:Action="http://Servicio/ImageBulkService/SearchbyIdRequest" message="tns:SearchbyId"/>
<output wsam:Action="http://Servicio/ImageBulkService/SearchbyIdResponse" message="tns:SearchbyIdResponse"/>
</operation>
<operation name="ModifyImage">
<input wsam:Action="http://Servicio/ImageBulkService/ModifyImageRequest" message="tns:ModifyImage"/>
<output wsam:Action="http://Servicio/ImageBulkService/ModifyImageResponse" message="tns:ModifyImageResponse"/>
</operation>
<operation name="SearchbyCreaDate">
<input wsam:Action="http://Servicio/ImageBulkService/SearchbyCreaDateRequest" message="tns:SearchbyCreaDate"/>
<output wsam:Action="http://Servicio/ImageBulkService/SearchbyCreaDateResponse" message="tns:SearchbyCreaDateResponse"/>
</operation>
<operation name="SearchbyAuthor">
<input wsam:Action="http://Servicio/ImageBulkService/SearchbyAuthorRequest" message="tns:SearchbyAuthor"/>
<output wsam:Action="http://Servicio/ImageBulkService/SearchbyAuthorResponse" message="tns:SearchbyAuthorResponse"/>
</operation>
<operation name="SearchbyKeywords">
<input wsam:Action="http://Servicio/ImageBulkService/SearchbyKeywordsRequest" message="tns:SearchbyKeywords"/>
<output wsam:Action="http://Servicio/ImageBulkService/SearchbyKeywordsResponse" message="tns:SearchbyKeywordsResponse"/>
</operation>
<operation name="SearchbyTitle">
<input wsam:Action="http://Servicio/ImageBulkService/SearchbyTitleRequest" message="tns:SearchbyTitle"/>
<output wsam:Action="http://Servicio/ImageBulkService/SearchbyTitleResponse" message="tns:SearchbyTitleResponse"/>
</operation>
<operation name="Search">
<input wsam:Action="http://Servicio/ImageBulkService/SearchRequest" message="tns:Search"/>
<output wsam:Action="http://Servicio/ImageBulkService/SearchResponse" message="tns:SearchResponse"/>
</operation>
<operation name="ListImage">
<input wsam:Action="http://Servicio/ImageBulkService/ListImageRequest" message="tns:ListImage"/>
<output wsam:Action="http://Servicio/ImageBulkService/ListImageResponse" message="tns:ListImageResponse"/>
</operation>
<operation name="RegisterImage">
<input wsam:Action="http://Servicio/ImageBulkService/RegisterImageRequest" message="tns:RegisterImage"/>
<output wsam:Action="http://Servicio/ImageBulkService/RegisterImageResponse" message="tns:RegisterImageResponse"/>
</operation>
</portType>
<binding name="ImageBulkServicePortBinding" type="tns:ImageBulkService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="DeleteImage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="SearchbyId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ModifyImage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="SearchbyCreaDate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="SearchbyAuthor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="SearchbyKeywords">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="SearchbyTitle">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Search">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ListImage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="RegisterImage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ImageBulkService">
<port name="ImageBulkServicePort" binding="tns:ImageBulkServicePortBinding">
<soap:address location="http://localhost:8080/servidorSOAP/ImageBulkService"/>
</port>
</service>
</definitions>